.quiz-card--button {
  background-color: var(--primary);
  border: none;
  padding: 12px 24px;
  font-size: 0;
  border-radius: 12px;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
}

.quiz-card--answer {
  font-weight: 600;
  font-size: 1.2rem;
}

.quiz-card--button::-webkit-details-marker {
  display: none;
}

.quiz-card--button::after {
  content: "Show Answer";
  font-size: 1.2rem;
}

details[open] .quiz-card--button::after {
  content: "Hide Answer";
}
