.quiz-card--button {
  background-color: var(--primary);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  list-style: none;

  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;
}

.quiz-card--answer {
  font-weight: 600;
  font-size: 1.2rem;
}

.quiz-card--button::-webkit-details-marker {
  display: none;
}

.hide-label {
  display: none;
}

details[open] .show-label {
  display: none;
}

details[open] .hide-label {
  display: inline;
}
