.main-content {
  margin-top: 100px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  align-items: center;

  border-radius: 24px;
  border: 2px solid var(--secondary);
  background-color: var(--background-tag);
}

.quiz-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  gap: 20px;
  padding: 32px;
  width: 100%;
}

.quiz-card--bookmark {
  position: absolute;
  top: -20px;
  right: 18px;

  width: 64px;
  height: auto;

  background-color: var(--beige);
  border-radius: 28px;
  padding: 8px;
}

/* text */
.quiz-card--button {
  background-color: var(--primary);
  border: none;
  padding: 12px 24px;
  font-size: 0; /* blendet den (leeren) HTML-Text aus */
  border-radius: 12px;
  font-weight: 600;
  list-style: none; /* entfernt Dreieck in Firefox */
  cursor: pointer;
}

.quiz-card--answer {
  font-weight: 600;
  font-size: 1.2rem;
}

.quiz-card--button::-webkit-details-marker {
  display: none; /* entfernt Dreieck in Chrome/Safari */
}

.quiz-card--button::after {
  content: "Show Answer";
  font-size: 1.2rem; /* die eigentliche Schriftgröße kommt hierher */
}

details[open] .quiz-card--button::after {
  content: "Hide Answer";
}

/* Tags */
.quiz-card--list {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0;
  /* align-self: start; */
}

.quiz-card––tags {
  border: 2px solid var(--secondary);
  background-color: var(--background-tag);
  padding: 6px 19px;
  border-radius: 12px;
}
