.card {
  display: flex;
  align-items: center;

  border-radius: var(--radius-m);
  border: 2px solid var(--secondary);
  background-color: var(--background-secondary);
}

.quiz-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  gap: var(--gap);
  padding: var(--padding-xl);
  width: 100%;
}

/* bookmark */
.quiz-card--bookmark-btn {
  position: absolute;
  top: -20px;
  right: 18px;

  width: 64px;
  height: auto;

  background-color: var(--primary);
  border: none;
  border-radius: var(--radius-xl);
  padding: var(--padding-s);
  cursor: pointer;
}

.quiz-card--bookmark {
  width: 100%;
  height: auto;
  display: block;
}

/* Tags */
.quiz-card--list {
  list-style: none;
  display: flex;
  gap: var(--gap);
  font-size: 1rem;
  font-weight: var(--font-weight);
  padding: 0;
  /* align-self: start; */
}

.quiz-card–tags {
  border: 2px solid var(--secondary);
  background-color: var(--background-secondary);
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--radius-s);
}
