.main-content {
  margin-top: 100px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  align-items: center;

  border-radius: 24px;
  border: 2px solid var(--secondary);
  background-color: var(--background-tag);
}

.quiz-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  gap: 20px;
  padding: 32px;
  width: 100%;
}

/* bookmark */
.quiz-card--bookmark {
  position: absolute;
  top: -20px;
  right: 18px;

  width: 64px;
  height: auto;

  background-color: var(--beige);
  border-radius: 28px;
  padding: 8px;
}

/* Tags */
.quiz-card--list {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0;
  /* align-self: start; */
}

.quiz-card––tags {
  border: 2px solid var(--secondary);
  background-color: var(--background-tag);
  padding: 6px 19px;
  border-radius: 12px;
}
