.id {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.id__img {
  background-color: var(--background-secondary);
  border-radius: var(--radius-xl);
}

.id__img-icon {
  width: 160px;
  padding: var(--padding-l);
}

.about {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.counter {
  display: flex;
  justify-content: space-evenly;
}

.counter__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--background-secondary);
  border: none;
  width: 96px;
  border-radius: var(--radius-l);

  font-size: 1rem;
}

.counter__btn-img {
  width: 24px;
}

.settings {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.settings__darkmode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings__toogle-button {
  display: flex;
  align-items: center;

  width: 70px;
  height: 40px;

  padding: var(--padding-s);
  transition: all 300ms ease-in-out;

  background-color: var(--background-secondary);
  border: none;
  border-radius: var(--radius-l);
}

.settings__toogle-button-circle {
  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.settings__toogle-button-circle--active {
  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
